.wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
}

.logo, .signIn {
    width: 15%;
    font-size: 1.1rem;
    color: snow;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

.menu a{
    text-decoration: none;
    color: snow;
}

.menu a[class='active']{
    color: red;
    text-decoration: underline;
    font-style: italic;
}