.wrap {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem
}

.wrap > p {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}